# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

# Logs

json/
node_modules/
dist/

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

bun.lock
